<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [1]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
initial  = " "
print(initial)



### P2.PY

In [ ]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.
fav_number = 15 #This was my favorite number because of baseball
print(fav_number)


# Create another variable that represents your favorite color, and do the same steps as above.

fav_color = "blue"  #Blue is my favorite color
print(fav_color)

15
blue



### P3.PY

In [ ]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.
lyric = "Coming out of my cage and I've been doing just fine"
# Mr Brightside
# The Killers

print(lyric)

Coming out of my cage and I've been doing just fine



## TYPECASTING

### P1.PY

In [27]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

float_5 = float(five)
float_0 = float(zero)
float_neg_8 = float(neg_8)
float_neg_22 = float(neg_22)

print(float_5,float_0,float_neg_8,float_neg_22)
print(type(float_5),type(float_0),type(float_neg_8),type(float_neg_22))

five_int = int(float_5)
zero_int = int(float_0)
neg_8_int = int(float_neg_8)
neg_22_int = int(float_neg_22)

print(five_int,zero_int,neg_8_int,neg_22_int)
print(type(five_int),type(zero_int),type(neg_8_int),type(neg_22_int))

5.0 0.0 -8.0 -22.0
<class 'float'> <class 'float'> <class 'float'> <class 'float'>
5 0 -8 -22
<class 'int'> <class 'int'> <class 'int'> <class 'int'>



### P2.PY

In [55]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False


#Converting all the variables to strings using str(variable)
string_5 = str(five)
string_0 = str(zero)
string_neg_8 = str(neg_8)
string_T = str(T)
string_F = str(F)


#Printing all the variables as strings and displaying the datatype which will be string
print(string_5,type(string_5))
print(string_0,type(string_0))
print(string_neg_8,type(string_neg_8))
print(string_T,type(string_T))
print(string_F,type(string_F))


#Converting the string variables back into their orginal datatype
int_5 = int(string_5)
int_0 = int(string_0)
int_neg_8 = int(string_neg_8)
bool_T = bool(string_T)
bool_F = bool(string_F)

#Printing the orinal variables again with their original data types after converting them from strings
print(int_5,type(int_5))
print(int_0,type(int_0))
print(int_neg_8,type(int_neg_8))
print(bool_T,type(bool_T))
print(bool_F,type(bool_F))

5 <class 'str'>
0 <class 'str'>
-8 <class 'str'>
True <class 'str'>
False <class 'str'>
5 <class 'int'>
0 <class 'int'>
-8 <class 'int'>
True <class 'bool'>
True <class 'bool'>



### P3.PY

In [76]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
one_bool = bool(one)
zero_bool = bool(zero)
print(one_bool,type(one_bool),zero_bool,type(zero_bool))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one_float = float(one_bool)
zero_float = float(zero_bool)

print(one_float,type(one_float),zero_float,type(zero_float))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.
one_bool_back = bool(one_float)
zero_bool_back = bool(zero_float)

print(one_bool_back,type(one_bool_back),zero_bool_back,type(zero_bool_back))


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.
one_int_back = int(one_bool_back)
zero_int_back = int(zero_bool_back)
print(one_int_back,type(one_int_back),zero_int_back,type(zero_int_back))

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10
bool_10 = bool(ten)
print(bool_10,type(bool_10))

True <class 'bool'> False <class 'bool'>
1.0 <class 'float'> 0.0 <class 'float'>
True <class 'bool'> False <class 'bool'>
1 <class 'int'> 0 <class 'int'>
True <class 'bool'>



### P4.PY

In [15]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False

bool_one = bool(one)
bool_zero = bool(zero)
bol_true = bool(bool_true)
bol_false = bool(bool_false)

print(bool_one,type(bool_one))
print(bool_zero,type(bool_zero))
print(bol_true,type(bol_true))
print(bol_false,type(bol_false))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.
one_ = int(bool_one)
zero_ = int(bool_zero)
print(one_,type(one_),zero_,type(zero_))


# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

new_bool_1 = bool(bool_one)
new_bool_0 = bool(bool_zero)
print(new_bool_1,type(new_bool_1),new_bool_0,type(new_bool_0))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>
False <class 'bool'>
1 <class 'int'> 0 <class 'int'>
True <class 'bool'> False <class 'bool'>



## OPERATORS

### P1.PY

In [16]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
updated = orig_var + 50
# Subtract 90
update_2 = updated - 90
# Multiply 10
update_3 = update_2 * 10
# Divide 150
update_4 = update_3 /150
# Modulus 3
update_5 = update_4 % 3



### P2.PY

In [20]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

first_half = "I ate a burger today"
second_half = " and it came with fries"
complete = first_half + second_half
print(complete)

I ate a burger today and it came with fries



### P3.PY

In [27]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2
c = a + b
print(c)

# B)
c = '0'
d = '2'
new = c + d

print(new)

# C)
e = "0"
f = 2
answer = e + f
print(answer)

2
02

TypeError: can only concatenate str (not "int") to str



### P4.PY

In [35]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True
new = a + b
print(new)

# B)
c = False
d = False
e = c + d
print(e)

# C)
e = True
f = False

print(e + f)

2
0
1